<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="matchmaking.com.whoplay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:label="Regular Players">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PlayerList">
        </activity>
        <activity android:name=".MatchType">
        </activity>
        <activity android:name=".MatchDuration">
        </activity>
        <activity android:name=".MatchStart">
        </activity>
        <activity android:name=".PaymentGenerator">
        </activity>
        <activity android:name=".PlayerPayment">
        </activity>
        <activity android:name=".PlayerListDB">
        </activity>
    </application>

</manifest>